<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stelo.simpleops.build.mapper.BuildInfoMapper">
  <resultMap id="BaseResultMap" type="com.stelo.simpleops.build.domain.BuildInfo">
    <!--@mbg.generated generated on Mon Nov 04 17:15:26 CST 2019.-->
    <!--@Table build_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="registry_id" jdbcType="VARCHAR" property="registryId" />
    <result column="build_nodes" jdbcType="VARCHAR" property="buildNodes" />
    <result column="dockerfile" jdbcType="VARCHAR" property="dockerfile" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="use_cache" jdbcType="TINYINT" property="useCache" />
    <result column="always_pull" jdbcType="TINYINT" property="alwaysPull" />
    <result column="extra_registry" jdbcType="VARCHAR" property="extraRegistry" />
    <result column="auto_build" jdbcType="TINYINT" property="autoBuild" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.stelo.simpleops.build.domain.BuildInfo">
    <!--@mbg.generated generated on Mon Nov 04 17:15:26 CST 2019.-->
    <!--@Table build_info-->
    <result column="build_args" jdbcType="BLOB" property="buildArgs" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Nov 04 17:15:26 CST 2019.-->
    id, project_id, registry_id, build_nodes, dockerfile, tag, use_cache, always_pull, 
    extra_registry, auto_build, create_date
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated generated on Mon Nov 04 17:15:26 CST 2019.-->
    build_args
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-11-05-->
  <select id="selectAllByProjectId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    from build_info
    where project_id=#{projectId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-05-->
  <select id="selectOneByTag" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    from build_info
    where tag=#{tag,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-05-->
  <delete id="deleteByProjectId">
    delete from build_info
    where project_id=#{projectId,jdbcType=BIGINT}
  </delete>

</mapper>