<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stelo.simpleops.project.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.stelo.simpleops.project.domain.Project">
    <!--@mbg.generated generated on Mon Nov 04 17:16:25 CST 2019.-->
    <!--@Table project-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="eid" jdbcType="VARCHAR" property="eid" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="owner_avatar" jdbcType="VARCHAR" property="ownerAvatar" />
    <result column="clone_url" jdbcType="VARCHAR" property="cloneUrl" />
    <result column="git_url" jdbcType="VARCHAR" property="gitUrl" />
    <result column="repo_access_token" jdbcType="VARCHAR" property="repoAccessToken" />
    <result column="current_event_status" jdbcType="TINYINT" property="currentEventStatus" />
    <result column="current_build_status" jdbcType="TINYINT" property="currentBuildStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Nov 04 17:16:25 CST 2019.-->
    id, user_id, `name`, url, secret, eid, owner_name, owner_avatar, clone_url, git_url, 
    repo_access_token, current_event_status, current_build_status, `status`
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-10-11-->
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project
    where user_id=#{userId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-10-11-->
  <select id="selectBySecret" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project
    where secret=#{secret,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-10-11-->
  <select id="countBySecret" resultType="java.lang.Long">
    select count(1)
    from project
    where secret=#{secret,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-10-31-->
  <select id="selectStatusById" resultType="com.stelo.simpleops.project.enums.ProjectStatus">
    select `status`
    from project
    where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>